In [1]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('../ml-100k/u.data', sep='\t', encoding='latin1', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('../ml-100k/u.item', sep='|', encoding='latin1', names=m_cols, usecols=range(2))

ratings = pd.merge(movies, ratings)

movieRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')

selectedMovieRatings = movieRatings['Toy Story (1995)']

similarMovies = movieRatings.corrwith(selectedMovieRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)

similarMovies.sort_values(ascending=False)

import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})

popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

df.head()

df.sort_values(['similarity'], ascending=False)[:15]

/Users/choir/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:2487: RuntimeWarning: Degrees of freedom <= 0 for slice
  warnings.warn("Degrees of freedom <= 0 for slice", RuntimeWarning)
/Users/choir/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:2496: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)
/Users/choir/anaconda/lib/python3.5/site-packages/pandas/tools/merge.py:536: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

                               (rating, size)  (rating, mean)  similarity
title
Toy Story (1995)                          452        3.878319    1.000000
Craft, The (1996)                         104        3.115385    0.549100
Down Periscope (1996)                     101        2.702970    0.457995
Miracle on 34th Street (1994)             101        3.722772    0.456291
G.I. Jane (1997)                          175        3.360000    0.454756
Amistad (1997)                            124        3.854839    0.449915
Beauty and the Beast (1991)               202        3.792079    0.442960
Mask, The (1994)                          129        3.193798    0.432855
Cinderella (1950)                         129        3.581395    0.428372
That Thing You Do! (1996)                 176        3.465909    0.427936
Lion King, The (1994)                     220        3.781818    0.426778
Aladdin (1992)                            219        3.812785    0.411731
Great Escape, The (1963)                  124        4.104839    0.401238
African Queen, The (1951)                 152        4.184211    0.397874
Dumbo (1941)                              123        3.495935    0.387716